$linktextcolor: #ec1a1a;
$logomargin: 10px 30px 10px 15px;

$headerlinegradiant: linear-gradient(90deg, red 0, red 51.09%, blue 100%);
$headedtop: 2px solid transparent;
$signoutmargin: 10px 15px 1px 1px;

body {
  /* Temp fix */
  margin: 0 !important;
}

.enrolment-header-shared {
  border-image: $headerlinegradiant;
  border-image-slice: 1 0 0 0;
  border-left: 0;
  border-right: 0;
  border-top: $headedtop;

  .logo {
    display: inline-block;
    width: 22px;
    height: 27px;
    margin: $logomargin;
  }

  .signout {
    float: right;
    font-size: 14px;
    margin: $signoutmargin;
    border: none;
    text-decoration: none;
  }
}
